h1 {
    color: blue
}

button {
    width: 100px;
    height: 50px;
}

/* .box {
    background-color: aqua;
} */

p {
    visibility: hidden;
}
/* .show_response {
    visibility: visible;
    font-size: large;
} */

.bad_response {
    visibility: visible;
    background-color: red;
    color: white;
    font-size: 2rem;
}
.good_response {
    visibility: visible;
    background-color: green;
    color: white;
}
.mouse {
    height: 50px;
    width: 50px;
    border: 2px solid black;
    border-radius: 50%;
    position: absolute;
    transition: 0.2s;
    z-index: -1;
    transform: translate(-50% , -50%);
}